<div class="container">
  <section>
    <div class="helper-sidebar">
      <header class="help-header">
        <h3>Some Tips to Help with Creating Your Game:</h3>
      </header>
      <ul>
        <li></li>
      </ul>
    </div>
  </section>
  <section>
    <div id="new-game-form">
    <h2>Create a New Game</h2>
      <%= form_for :new_game, url: "/games/new", method: 'POST' do |f| %>
        <%= f.label :game_title %>
        <%= f.text_field :game_title, autocomplete: 'off', spellcheck: 'false', autofocus: 'true', required: 'true' %>

        <%= f.label :state_name %>
        <%= f.text_field :state_name, autocomplete: 'off', spellcheck: 'false', required: 'true' %>

        <%= f.label :beginning_state %>
        <%= f.text_area :beginning_state, autocomplete: 'off', required: 'true' %>

        <%= f.submit "Start"%>
      <% end %>
    </div>
  </section>
</div>