<h2>Add to the Adventure</h2>

<section>
  <div id="add-states-form">
    <%= form_for :add_states, url: '/games/new/:new_id/states', method: 'POST' do |f| %>
      <%= f.label :state_name %>
      <%= f.text_field :state_name, autocomplete: 'off', spellcheck: 'false', autofocus: 'true' %>

      <%= f.label :state_description %>
      <%= f.text_area :state_description, autocomplete: 'off' %>

      <%= f.submit %>
    <% end %>
  </div>
</section>

<aside id="states-sidebar">
  <section>
    <header>
      <h2>States</h2>
    </header>
    <ul>
      <%= State.where(game_id: params[:new_id]).find_each do |state| %>
        <%= state.name %>
      <% end %>
    </ul>
    <%= link_to 'Add New State', "/games/new/#{params[:new_id]}/states" %>
  </section>
</aside>