<section>
  <div id="add-states-form">
    <%= form_for :add_states, url: '/games/:new_id/states', method: 'POST' do |f| %>
      <%= f.label :state_name %>
      <%= f.text_field :state_name, autocomplete: 'off', spellcheck: 'false', autofocus: 'true' %>

      <%= f.label :state_description %>
      <%= f.text_area :state_description, autocomplete: 'off' %>
    <% end %>
  </div>
</section>

<aside id="states-sidebar">
  <section>
    <header>
      <h2>States</h2>
    </header>
    <h1>this is state descriptions until zola gets names in the db: <%= State.find_by(game_id: params[:new_id]).description %></h1>
  </section>
</aside>