<div class="container">
  <aside id="states-sidebar">
    <section class="states-sidebar">
      <header class="sidebar-header">
        <h3>Existing States:</h3>
      </header>
      <div class="states-list">
        <%= State.where(game_id: params[:new_id]).find_each do |state| %>
            <ul>
              <%= link_to state.name, "/games/new/#{params[:new_id]}/states/#{state.id}" %>
            </ul>
        <% end %>
      </div>
    </section>

  </aside>

  <section class="new-states-form">
  <h2>Add to the Adventure</h2>
      <%= form_for :add_states, url: "/games/new/#{params[:new_id]}/states", method: 'POST' do |f| %>
        <%= f.label :state_name %>
        <%= f.text_field :state_name, autocomplete: 'off', spellcheck: 'false', autofocus: 'true', required: 'true' %>

        <%= f.label :state_description %>
        <%= f.text_area :state_description, autocomplete: 'off', required: 'true' %>

        <%= f.submit "Create State"%>
      <% end %>
      <%= form_for :save_game, url: "/games/new", action: 'save_game', method: 'POST' do |f| %>
        <%= f.submit 'Submit Complete Game' %>
      <% end %>
  </section>

  <div>
    <%= link_to 'Start adding connections', "/games/new/#{params[:new_id]}/states/connections", class: "start-connecting-link" %>
 </div>
</div>

